@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@200;300&family=Roboto:wght@100;300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.review{
  height: 100vh;
  width: 100%;
}
.accordian{
  height: 150vh;
  width: 100%;
}
.info{
  background-color: rgb(101, 96, 96);
  height: 100vh;
  width: 900px;
  box-shadow: 0 5px 4px 3px #0002;
  margin-left: 5%;
}
